.auth-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 300px;
}

.auth-form form {
    display: flex;
    flex-direction: column;
}

.auth-form form .MuiTextField-root {
    margin-bottom: 16px;
}

.auth-form form .MuiButtonBase-root {
    margin-top: 16px;
}

.box{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.containerStyle{
    border-radius: 12px;
    margin: 20px 0;
}


.modalStyle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 4px 18px 5px rgba(0, 0, 0, 0.41);
    border-radius: 12px;
    padding: 4px;
}